# Copy relevant values into .env.test, .env.development.local, or .env.production.local as needed.

# ==> Database
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_URL=

# ==> App
APP_HOST=
FRONTEND_URL=
RAILS_ENV=
RAILS_MASTER_KEY=

# ==> Auth
DEVISE_JWT_SECRET_KEY=

# ==> Mailer (Resend)
RESEND_API_KEY=
MAILER_FROM=

# ==> Seed admin (production only)
ADMIN_EMAIL=
ADMIN_PASSWORD=